<p>
  users works!
</p>


<h1> Users</h1>

<ul>

 	<li *ngFor="let user of users$">
 	
 		<a routerLink="/details/{{user.id}}">{{ user.name }}</a>
 		
 		<ul>
			<li> {{ user.email }}</li>
			<li> <a href="https://{{user.website}}">{{user.website}}</a> 		
 		</ul>
 	</li>
 </ul>
 
 <!--  
 <table class="table table-hover">
 -->
<table class="hoverTable"> 
    <thead>
      <tr>
        <th>
          <a href="#" ng-click="orderByField='firstName'; reverseSort = !reverseSort">
          First Name <span ng-show="orderByField == 'firstName'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="orderByField='lastName'; reverseSort = !reverseSort">
            Last Name <span ng-show="orderByField == 'lastName'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="orderByField='age'; reverseSort = !reverseSort">
          Age <span ng-show="orderByField == 'age'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
      </tr>
    </tbody>
  </table>
 
 <h2>kunhu test</h2>